<!DOCTYPE html>
<html>
<head>
	<title>Free Converter</title>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/ramda/0.25.0/ramda.min.js"></script>
</head>
<body>
	<input type="text" id="input" />
	<button id="read">OK</button>
	<div id="result">
		<h3 id="number-result"></h3>
		<p id="string-result"></p>	
	</div>
	<script src="/socket.io/socket.io.js"></script>
	<script src="./js/read-number.js"></script>
</body>
</html>